*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  color: blueviolet;
}

#header{
  width: 500px;
  height: 250px;
  background: red;
}

.item {
  color: brown;
}

/*body {
  background: aquamarine;
}

header nav ul li {
  list-style: none;
}

ul > li {
  list-style: circle;
}

input[type="text"] {
  padding: auto;
} */

p {
  color: navy;
}

p > span {
  color: black;
}

hr {
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/
  /*margin-left: 40px;*/
  /*margin: 40px 60px 80px 100px;*/
  /*margin: 120px 200px;*/
  margin: 40px 70px 20px;
}

.caja {
  width: 200px;
  height: 150px;
  background: crimson;
  margin: 80px;
  border: solid 10px #000;
  color: aliceblue;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 150px;
  padding-left: 12px;
}

